*{
    padding: 0px;
    margin: 0px;
}


.one{
    font-size:70px ;
      padding-top: 90px;
  
}
body{
    font-family: 'Montserrat', sans-serif;
    background-color: #F2EDE1;
    
}
.hotel{
  
    text-align: center;
    background-color:#2E2E2E;
    color: white;
}
.two{
    font-size:32.424px ;
    padding-top: 30px;
    
}
.three{
   
    font-size: 16px;
    padding-top: 35px;
   
}
.button{
  height: 70px;
  width: 300px;
  border-radius: 10px;
  background-color: #b79c5a;
  color:white;
  font-size: 20px;
  font-weight: bold;
  border: none;
  
}
.book{
    padding: 20px;
   
}
.button:hover{
     background-color: black;
    color: #b79c5a;
}
.ten{
    display: flex;
    justify-content: space-around;
    padding: 100px;
}
iframe{
    position: sticky;
    top: 0px;
}
iframe{
    width: 100%;
    height: auto;
    border: none;
    display: block;
}
iframe{
    position: sticky;
    top: 0px;
}

@media screen and (max-width:850px){

    iframe{
        width: 100%;
        height: 580px;  
    }

    .ten{
        flex-direction: row;
        overflow-x: scroll;
        margin: 0;
    }
}
@media screen and (max-width: 850px){
    .foot{
        flex-direction: column;
        gap: 30px;
        padding: 30px;
        font-size: 20px;
        align-items: center;
        gap: 30px;
    }
    .four{
        margin-top: 0px;
    }
    iframe{
        position:static;
    }
}
   